<div class="login">
  <div class="logo-container" style="padding-top: 2rem">
    <div class="headline col-50">Partyspot</div>
    <img class="logo col-50" src="/assets/img/logo.png">
  </div>
  <div class="ps-body">
    <div class="row">
      <div class="col-50" style="border-right: 1px solid var(--ion-color-light)">
        <div class="input-container" style="padding-right: 1rem;">
          <h1>Login für Gastgeber</h1>
          <div class="btn-container">
            <button class="btn-primary" (click)="redirectToSpotify()">Mit Spotify einloggen</button>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="input-container" style="padding-left: 1rem;">
          <h1>Login für Gäste</h1>
          <div class="form-header">Benutzername</div>
          <input type="text" id="guestName" name="guestName" #guestName>
          <div class="form-header">Zugangscode</div>
          <input type="text" id="guestCode" name="guestCode" #guestCode>
        </div>
        <div class="btn-container">
          <button class="btn-primary" (click)="guestLogin()">Einloggen</button>
        </div>
      </div>
    </div>
  </div>
</div>
