.login {
  display: block;
  align-self: center;
}

.logo-container {
  padding: 1rem;
  text-align: center;
  display: inline-flex;
}

.logo {
  max-height: 400px;
}

.headline {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 4rem;
  font-family: monospace;
}

.form {
  display: grid;
}

.form-header {
  font-size: x-large;
  text-align: initial;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

input {
  border-radius: 1rem;
  height: 2rem;
  padding-left: 1rem;
}

h1 {
  margin-bottom: 0px;
  //same color as logo
  color: #1ED760;
}

.btn-container {
  text-align: center;
  padding-top: 1rem;
}
