.login {
  display: block;
  align-self: center;
}

.logo-container {
  padding: 1rem;
  text-align: center;
  display: inline-flex;
  width: -webkit-fill-available;
}

.logo {
  max-height: 300px;
  max-width: 300px;
  margin: auto;
}

.headline {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 4rem;
  font-family: monospace;
}

.form-header {
  margin-top: 1rem;
}

h1 {
  margin-bottom: 0px;
  color: var(--ion-color-primary);
}

.btn-container {
  text-align: center;
  padding-top: 2rem;
}

.input-container {
  text-align-last: center;
}
