<div class="nav">
  <img class="logo" src="/assets/img/logo.png">
  <div class="spacer">
    <!-- will be removed  if Headline doesn't fit on mobile -->
    <div class="main-header">Partyspot</div>
  </div>
  <div *ngIf="isAdmin" style="display: flex">
    <i class="fas fa-music" (click)="showModal()" title="Party bearbeiten"></i>
    <i class="fas fa-users" (click)="showGuestViewModal()" title="Gästeübersicht"></i>
    <!-- might get implemented in the future
        function to invite guests with an automated e-mail
    <i class="fas fa-user-edit" (click)="showGuestModal()" title="Gäste einladen"></i> -->
  </div>
  <i class="fas fa-sign-out-alt" style="color: var(--ion-color-danger); padding-right: 1rem" (click)="logout()"
    title="Ausloggen"></i>
</div>

<div class="ps-card">
  <div class="party-name" style="color: white">Meine Mega Fette Party (Partytitel)</div>
  <div class="ps-body">
    Hier dann Übersicht
  </div>
</div>
