/* variables to pick a random image as background */
$imgKey: random(5);

$list: party1,
party2,
party3,
party4,
party5;
$nth: nth($list, $imgKey);

.nav {
  background-color: var(--ion-color-step-50);
  height: 4rem;
  display: flex;
}

.logo {
  height: 4rem;
  padding: 0.25rem 0 0.25rem 1rem;
}

.spacer {
  margin: auto;
}

.showAdmin {
  display: flex;
}

.hideAdmin {
  display: none;
}

.fas {
  font-size: 1.5rem;
  margin: auto 0;
  color: var(--ion-color-primary);
  padding-right: 1rem;
  cursor: pointer;
}

/* overwrite global ps-card styling and include the random background */
.ps-card {
  height: calc(100vh - 128px);
  margin-left: 2rem;
  background-image: url("/assets/img/#{$nth}.jpg");
  background-size: cover;
}

.party-name {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  margin: 0 1rem;
  display: flex;
}

.main-header {
  font-size: 2rem;
  color: var(--ion-color-primary);
}

.ps-card {
  margin: 0.5rem 1rem 1rem 1rem;
}

::ng-deep .datatable-body-row {
  background-color: var(--ion-color-step-200);
  margin: 4px;
  border-radius: 1rem;
}

::ng-deep .datatable-header {
  font-size: 2rem;
  color: var(--ion-color-primary);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
}

::ng-deep .empty-row {
  padding-top: 2rem;
  font-size: 2rem;
  color: var(--ion-color-danger);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  text-align-last: center;
}
