/* variables to pick a random image as background */
$imgKey: random(5);

$list: party1,
party2,
party3,
party4,
party5;
$nth: nth($list, $imgKey);

.nav {
  background-color: var(--ion-color-step-50);
  height: 4rem;
  display: flex;
}

.logo {
  height: 4rem;
  padding: 0.25rem 0 0.25rem 1rem;
}

.spacer {
  margin: auto;
}

.showAdmin {
  display: flex;
}

.hideAdmin {
  display: none;
}

.fas {
  font-size: 1.5rem;
  margin: auto 0;
  color: var(--ion-color-primary);
  padding-right: 1rem;
  cursor: pointer;
}

/* overwrite global ps-card styling and include the random background */
.ps-card {
  height: calc(100vh - 128px);
  margin-left: 2rem;
  background-image: url("/assets/img/#{$nth}.jpg");
  background-size: cover;
}

/* partyname headline with outline to
   guarantee readability on various backgrounds */
.party-name {
  font-size: 3rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-shadow: 3px 3px black;
  text-align: center;
  padding: 1rem 0;
}

.main-header {
  font-size: 2rem;
  color: var(--ion-color-primary);
}
