<body>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script>
    window.onSpotifyWebPlaybackSDKReady = () => {
      console.log("The Web Playback SDK is ready. We have access to Spotify.Player");
      console.log(window.Spotify.Player);
    };

  </script>

  <script>
    function autoplay() {
      var t = setTimeout(function () {
        var button = document.querySelector('[title="Play"]') || false;
        if (button) {
          console.log('Click', button)
          button.click()
        }
      }, 999)
    }
    document.addEventListener('DOMContentLoaded', (event) => {
      autoplay()
    })

  </script>
  <div class="nav">
    <img class="logo" src="/assets/img/logo.png" (mouseover)="setTimer()">
    <div class="spacer">
      <div class="main-header">Partyspot</div>
    </div>
    <div *ngIf="isAdmin" style="display: flex">
      <i class="fas fa-music" (click)="showModal()" title="Party bearbeiten"></i>
      <i class="fas fa-users" (click)="showGuestViewModal()" title="Gästeübersicht"></i>
    </div>
    <i class="fas fa-sign-out-alt" style="color: var(--ion-color-danger); padding-right: 1rem" (click)="logout()"
      title="Ausloggen"></i>
  </div>
  <div style="display: flex">
    <div class="song-search-container">
      <input type="text" id="songSearch" placeholder="Song suchen" name="songSearch"
        (keydown)="getSearchResults(songSearch.value)" #songSearch>
      <!-- if the search is active an Icon is displayed to cancel the search -->
      <i *ngIf="searchResults" class="fas fa-times-circle eliminate" (click)="resetSearch()"></i>
      <!-- classic dropdown list with the search results -->
      <ul *ngIf="searchResults" class="filter-select" (clickOutside)="resetSearch()">
        <div *ngFor="let result of searchResults">
          <!-- single result with click function to add it to the playlist -->
          <li class="filter-select-list" (click)="addThisSong(result)">
            <div class="filter-result">{{result.name}}</div>
          </li>
        </div>
      </ul>
    </div>
    <div class="invite-code-container">
      <div *ngIf="isAdmin" class="party-name">
        <!-- padding-top: 4px aligns the invitecode vertically with the input of the search field -->
        <div style="padding-top: 4px" title="Code um Gäste einzuladen">{{inviteCode}}</div>
      </div>
      <div *ngIf="!isAdmin" class="party-name">{{partyName}}</div>
    </div>
  </div>
  <div class="ps-card">
    <div class="ps-body">
      <div *ngIf="isAdmin" style="display: flex">
        <iframe style="border-radius:12px" [src]="iframeSrc" width="100%" height="80" frameBorder="0" allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" #IFRAME></iframe>
        <i class="fas fa-forward skip-icon" (click)="skipSong()" title="Song überspringen"></i>
      </div>
      <div>
        <ngx-datatable class="material" [columnMode]="'flex'" [rows]="rows" [headerHeight]="50"
          [messages]="{emptyMessage: 'Keine Songs in der Playlist gefunden!'}">
          <ngx-datatable-column name="Song" [flexGrow]="500" prop="song">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div class="vote-buttons-container">
                <span class="song-name"> {{ value.name }} </span>
                <i class="fas fa-thumbs-up" (click)="upVote(value)" style="margin-left: auto"></i>
                <i class="fas fa-thumbs-down" (click)="downVote(value)" style="color: var(--ion-color-danger)"></i>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Voting" [flexGrow]="1" [minWidth]="100" prop="voting">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div class="vote-number-container">
                <span class="voting-number-text"
                  [ngStyle]="{'color': value > 0 ? 'var(--ion-color-success)' : 'var(--ion-color-danger)' }">
                  {{ value }}
                </span>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>

</body>
