/* variables to pick a random image as background */
$imgKey: random(5);

$list: party1,
party2,
party3,
party4,
party5;
$nth: nth($list, $imgKey);

.nav {
  background-color: var(--ion-color-step-50);
  height: 4rem;
  display: flex;
}

.logo {
  height: 4rem;
  padding: 0.25rem 0 0.25rem 1rem;
}

.spacer {
  margin: auto;
}

.showAdmin {
  display: flex;
}

.hideAdmin {
  display: none;
}

.fas {
  font-size: 1.5rem;
  margin: auto 0;
  color: var(--ion-color-primary);
  padding-right: 1rem;
  cursor: pointer;
}

/* overwrite global ps-card styling and include the random background */
.ps-card {
  height: calc(100vh - 128px);
  margin-left: 2rem;
  background-image: url("/assets/img/#{$nth}.jpg");
  background-size: cover;
}

.party-name {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  margin: 0 1rem;
}

.song-search-container {
  margin-top: 0.5rem;
  padding-left: 1rem;
}

.invite-code-container {
  margin-left: auto;
}

.main-header {
  font-size: 2rem;
  color: var(--ion-color-primary);
}

.ps-card {
  margin: 0.5rem 1rem 1rem 1rem;
}

::ng-deep .datatable-body {
  height: calc(100vh - 295px) !important;
  overflow-y: auto;
  overflow-x: hidden;
}

::ng-deep .datatable-body-row {
  background-color: var(--ion-color-step-200);
  margin: 4px;
  border-radius: 1rem;
  height: 35px;
  width: inherit - 3px;
}

::ng-deep .datatable-header {
  font-size: 2rem;
  color: var(--ion-color-primary);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
}

::ng-deep .empty-row {
  padding-top: 2rem;
  font-size: 2rem;
  color: var(--ion-color-danger);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  text-align-last: center;
}

.song-name {
  padding-left: 1rem;
  font-size: 19px;
  /* prevents long song names from overflowing the datatable */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* stylings for song search */
ul {
  /* hides the ugly default list-icons */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* styles the closing button for the search */
.eliminate {
  color: var(--ion-color-danger);
  /*absolute positioning to place the icon inside the input field */
  position: absolute;
  margin-top: 4px;
  margin-left: -30px;
  z-index: 1000;
}

/*styling for the dropdown-container */
.filter-select {
  /* increasing z-index to have the dropdown in front of the other elements */
  z-index: 1000;
  /* absolute positioning to place the container below the input */
  position: absolute;
  background: var(--ion-color-step-100);
  overflow-y: auto;
  max-height: calc(100vh - 170px);
  max-width: 70%;
  border-radius: 1rem;
}

/* styling for each element in the dropdown-list */
.filter-select-list {
  padding: 0.3rem 0 0.3rem 1rem;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-size: 1.2rem;
  box-shadow: 0 0 7.5px var(--ion-color-primary);
}

/* this styling activates when the user hovers the cursor over the element */
.filter-select-list:hover {
  background: var(--ion-color-step-200);
  cursor: pointer;
}

.skip-icon {
  padding: 0 0 0 1rem;
  font-size: 2.5rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.vote-buttons-container {
  display: flex;
}

.vote-number-container {
  text-align-last: center;
  line-height: normal;
}

.voting-number-text {
  font-size: 28px;
  font-weight: bold;
}
