<body>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script>
    window.onSpotifyWebPlaybackSDKReady = () => {
      console.log("The Web Playback SDK is ready. We have access to Spotify.Player");
      console.log(window.Spotify.Player);
    };

  </script>
  <div class="nav">
    <img class="logo" src="/assets/img/logo.png">
    <div class="spacer">
      <div class="main-header">Partyspot</div>
    </div>
    <div *ngIf="isAdmin" style="display: flex">
      <i class="fas fa-music" (click)="showModal()" title="Party bearbeiten"></i>
      <i class="fas fa-users" (click)="showGuestViewModal()" title="Gästeübersicht"></i>
      <i class="fas fa-users" (click)="addSong()" title="Teste Song hinzufügen"></i>
      <i class="fas fa-users" (click)="getSearchResults('Bad')" title="Teste Suche"></i>
      <i class="fas fa-globe" (click)="getVotingView()" title="Teste Suche"></i>
    </div>
    <i class="fas fa-sign-out-alt" style="color: var(--ion-color-danger); padding-right: 1rem" (click)="logout()"
      title="Ausloggen"></i>
  </div>
  <div style="display: flex">
    <div *ngIf="isAdmin" class="party-name">
      <!-- padding-top: 4px aligns the invitecode vertically with the input of the search field -->
      <div style="padding-top: 4px" title="Code um Gäste einzuladen">{{inviteCode}}</div>
    </div>
    <div *ngIf="!isAdmin" class="party-name">{{partyName}}</div>
    <!-- margin-left: auto aligns the search field to the right -->
    <div class="search-container">
      <input type="text" id="songSearch" placeholder="Song suchen" name="songSearch"
        (keydown)="getSearchResults(songSearch.value)" #songSearch style="width: 200px">
    </div>
  </div>
  <div class="ps-card">
    <div class="ps-body">
      <iframe style="border-radius:12px" [src]="iframeSrc" width="100%" height="80" frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      <div>
        <ngx-datatable class="material" [columnMode]="'flex'" [rows]="rows" [headerHeight]="50"
          [messages]="{emptyMessage: 'Keine Songs in der Playlist gefunden!'}">
          <ngx-datatable-column name="Song" [flexGrow]="5" prop="song.name">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span class="song-name"> {{ value }} </span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Voting" [flexGrow]="1" [minWidth]="125" prop="voting">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <i class="fas fa-thumbs-up" (click)="upVote()"></i>
              <i class="fas fa-thumbs-down" (click)="downVote()" style="color: var(--ion-color-danger)"></i>
              <span style="font-size: 19px"
                [ngStyle]="{'color': value > 0 ? 'var(--ion-color-success)' : 'var(--ion-color-danger)' }">
                {{ value }}
              </span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>

</body>
